.c-input-search {
  width: 300px;
  height: 40px;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgba($color: $color-h1, $alpha: 0.3);
  padding-left: 10px;
  
}
.fas {
  font-size: 2rem;
  color: $color-h1;
  
}