.p-section-TakeOut {
  background: url(/img/section-takeout.png) no-repeat;
  background-size: cover;
}
.p-section-EatIn {
  background: url(/img/section-eatin.png) no-repeat;
  background-size: cover;
}
.p-section__conts {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.p-section-text {
  white-space: pre-wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
