$color-base: #FFF7EF;
$color-h1: #707070;
$color-text: #FFFFFF;
$color-section: #EAEAEA;
$color-section-text: #3C2A10;
$color-side: #F2EDE9;
$color-footer: #9D8670;

$color-accent: #a2d729;
$color-menu: #707070;
$color-bg: #3C2B1C;
